<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rbe" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RBE Radio Beckwith</name>
    <description>
        Streaming, feeds di rbe.it e di VociProtestanti.
    </description>
    <author email="marco.magnano@rbe.it" href="http://www.rbe.it">
        Radio Beckwith
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <icon src="res/icon/ios/icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144" />

</widget>
