/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;*/
    font-family:'Roboto','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    background: #E4E4E4;
    font-size:12px;
    font-weight: 300;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
}

#header {
	height: 45px;
	background: #ddd;
	border-bottom: 1px solid #b8b8b8;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

#header h1 {
	line-height: 45px;
}

#header .logo {
	display: block;
	margin: 0 auto;
}

#header .goBack:link,
#header .goBack:visited {
	float: left;
	display: block;
	height: 45px;
	width: 45px;
	text-indent: -999em;
	background-image: url(../img/go-back_icon.png);
}

#header .goBack:active {
	background-color: #b8b8b8;
}

#all-posts {
	margin: 0;
	padding: 0;
}

#all-posts li {
	list-style-type: none;
	border-bottom: 1px solid #dddddd;
	padding: 0;
}

#all-posts li:last-child {
	border-bottom: none;
}

#all-posts li .post_thumbnail {
	float: left;
	display: block;
	margin: 5px;
}

#all-posts li a:link,
#all-posts li a:visited {
	text-decoration: none;
	color: #c00;
	display: block;
	min-height: 110px;
}

#all-posts li a:hover,
#all-posts li a:active {
	background: #b8b8b8;
}

#all-posts li a .entry-title {
	margin:0;
	margin-bottom: 10px;
	font-weight: 300;
}

#all-posts li a .listingmeta {
	color: #333;
}


#playbutton,
#pausebutton {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -74px;
	margin-top: -74px;
	width: 148px;
	height: 148px;
	text-indent: -999em;
}

#playbutton {
	background: url('../img/play_icon.png');
}

#pausebutton {
	background: url('../img/pause_icon.png');
	display: none;
}



#mainNavigation {
	height: 45px;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 999;
	background: #dfdfdf;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-top: 5px solid #fff;
}

#mainNavigation li {
	float: left;
	width: 34%;
}

#mainNavigation li.alpha,
#mainNavigation li.omega {
	width: 33%;
}

#mainNavigation li a:link,
#mainNavigation li a:visited {
	display: block;
	width: 100%;
	border-right: 1px solid #ccc;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 5px solid #c00;
	text-decoration: none;
	font-weight: 400;
	color: #000;
}

#mainNavigation li a:hover,
#mainNavigation li a:active,
#mainNavigation li.current a:link,
#mainNavigation li.current a:visited {
	background: #f44;
	color: #fff;
}

#mainNavigation li.omega a {
	border-right: none;	
}

#page-loader {
	display: none;
	width: 128px;
	height: 128px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -16px;
	margin-top: -16px;
}

#page-loader img {
	display: block;
}

.ui-content {
	padding-bottom: 50px !important;
}

#splasher {
	height: 430px;
	width: 320px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -215px;
	margin-left: -160px;
}

#splasher img {
	display: block;
}

#splasher h3 {
	line-height: 30px;
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
	color: #c00;
	margin: 0;
	margin-bottom: 15px;
}

/*#song {
	display: none;
}*/


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#single-data {
	padding: 10px;
	padding-bottom: 75px;
}

#blog-content {
	padding-top: 46px;
	padding-bottom: 50px;
}

#single-data img.post_thumbnail,
#single-data .entry-content img {
	max-width: 100%;
	min-width: 100%;
	height: auto;
	display: block;
}

#single-data .embed-youtube {
	display: block;
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

#single-data .embed-youtube iframe,
#single-data .embed-youtube object,
#single-data .embed-youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#single-data .entry-title {
	font-size: 2.4em;
	margin-bottom: 10px;
}

#single-data .entry-content {
	font-size: 1.2em;
}

#single-data .entry-content a:link,
#single-data .entry-content a:visited {
	color: #c00;
	text-decoration: none;
}

#single-data .entry-content a:hover,
#single-data .entry-content a:visited:hover {
	text-decoration: underline;
	color: #900;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
